@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #081767;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola {
    background-image: linear-gradient(#081767, #607538);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-conteudo{
    width: 35%;
}

.escola-imagem {
    width: 25%;
}

.escola-titulo {
    padding: 24px 0;
}

.estudante-imagem {
    width: 120px;
}

.estudante-icone {
    width: 24px;
}

.estudante-div{ 
    text-align: center;
}